body{
    text-align: center; 
    margin: 0% ;
    padding-top: 3%;
    background-image: url('bg-image.jpg');    
}
.ab{
  margin-left: 15%;
}
.main{
  
    height : 100px;
    padding: 5%;
    padding-bottom : 0;
}
/* Style the input */
input {
    margin: 0;
    margin-bottom : 10px;
    border: none;
    border-radius: 0;
    width: 55%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }
  
  /* Style the "Add" button */
  .addBtn {
    /*padding: 10px;
    width: 13%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
    margin-left: 0.6%;*/
    
  }
  .addBtn{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #fff;
    margin:0 0.3em 0.3em 0.3rem;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    float : left;
    font-weight:500;
    color:#fff;
    text-align:center;
    transition: all 0.2s;
  }
  .addBtn:hover {
    background-color: #bbb;
  }
  .alldelBtn{
     background-color :rgb(175, 21, 21);
     color : white;
     padding : 0.9% 0;
     font-size : 16px;
     /*float: right;*/
    border: 0.2px solid white;
    display: block;
    width : 56%;
    /*margin-left: 14%;*/
  }
  .alldelBtn:hover{
      background-color: red;
  }
  .delbtn{
    background-color :rgb(165, 2, 2);
     color : white;
     
     font-size: 1rem;
     padding : 0.5% 2%;
     float: right;
     margin-right : 1%;
     
  }
  .editbtn{
    background-color: blue;
    color : white;
   
    float: right;
    margin-left : 1%;
    margin-right: 1%;
    font-size: 1.2rem;
    padding : 0.4% 2%;


  }
  .editbtn:hover{
    background-color: darkblue;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li{
    margin : 2% 30% 0.5% 5%;
    
    padding : 0.6% 1% 0.5% 0.5%;
    font-size : 1.5rem;
    text-decoration: none;
    list-style: none;
    text-align : left;
    
    
   
  }
  .disabled{
    display : none;
  }
  .done{
    float : left;
    background-color: #fff;
    color: #fff;
    font-size: 1.3rem;
    padding : 0.5% 1% 0.5% 1%;
    margin-right : 4%;
    margin-bottom: 1px;
  }
  .done.checked{
    background-color: grey;
  }
  .over{
    text-decoration: line-through;
   /* background-color: #bbb;
    padding-bottom: 5px;*/
    color : red;
  }
  .fa-check-square{
    font-size: 20px;
    color: green;
  }
  h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size : 5 rem;
    color : #fff;
  }
  @media only screen and (max-width: 600px) {
    
    input{
      width : 70%;
    }
    .ab{
      margin-left: 5%;
    }
    .alldelBtn{
      width : 70%;
      height: 40px;
      padding-top: 10px;
    }
    li{
      font-size : 1rem;
      padding: 10px;
      width: 350px;
      margin-right: 10px;
    }
  }
